@import './styles/home-page.scss';
@import './styles/about-page.scss';
@import './styles/help-page.scss';
@import './styles/reports-page.scss';
@import './styles/news-page.scss';
@import './styles/post-item-page.scss';
@import './styles/report-item-page.scss';
@import './styles/admin.scss';

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$red: #B30000;

@font-face {
  font-family: 'KharkivTone';
  src: url('./fonts/Kharkiv_Tone.ttf');
}

body {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;

  font: 100% $font-stack;
  color: $primary-color;
}

#root, body, .layout {
  height: 100vh;
}

.error-text {
  text-align: center;
  color: $red;
}

.contacts-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    padding: 20px;
    background: #3e1f92;
  }

  &__content-address-item {
    padding: 5px 0;
    color: #fff;

    svg {
      color: #fa949d;
      margin-right: 5px;
    }
  }
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 32px;
  text-align: center;
  position: relative;

  .button-up {
    background: #000;
    border-color: #fff;
    color: #fff;
    padding: 16px 32px;
    border-radius: 0;

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

.footer-description-wrapper {
  text-align: right;

  &-info {
    display: inline-block;
    font-size: 14px;
    text-align: left;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;

  @media screen and (max-width: 991px) {
    display: flex;
    flex-direction: column;

    .footer-contacts-content {
      order: 2;
      margin-top: 32px;
      text-align: left;
    }

    .footer-button-up {
      order: 1;
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}  

.footer-social-networks {
  padding: 26px 0;

  a { 
    margin: 0 18px;
    
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.footer-contacts-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.archangels-btn  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  border-color: $red;
  color: $red;

  &:hover, &:active, &:focus {
    color: #fff;
    background-color: $red;
  }
}

.title-block-text {
  font-family: "KharkivTone";
  text-transform: uppercase;
  margin-bottom: 64px;
  padding-left: 16px;
  font-size: 32px;
  line-height: 40px;
  border-left: 1px solid #B30000;

  @media screen and (max-width: 991px) {
    margin-bottom: 32px;
  }
}

.admin-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 15px;

  .input-wrapper {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;

    p {
      margin-left: 5px;
    }
  }

  input, textarea, button {
    margin: 0 5px;
  }
}

.terms_page {
  text-align: left;

  h1, h2, h3 {
    margin: 2rem 0;
    font-weight: bold;
  }
}

.policy-information {
  display: flex;
  flex-direction: column;
  text-align: left;

  a {
    margin: 8px 0;
    color: #fff;
    cursor: pointer;
    text-underline-offset: 4px;

    &:last-of-type {
      margin-bottom: 16px;
    }

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.alert-message {
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}


.empty-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;

  &__image {
    background: url('../assets/images/glass-icon.png');
    width: 220px;
    background-size: cover;
    height: 220px;
  }

  p {
    margin: 16px 0;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    width: 70%;
  }
}

.loader-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  img {
    width: 200px;
  }
}

.privacy-and-policy, .refund-policy {
  text-align: left;
  line-height: 2;

  p {
    &:last-of-type {
      margin-bottom: 50px;
    }
    font-size: 18px;
  }
  h1 {
    font-size: 24px;
    margin: 32px 0;
    font-weight: bold;
  }

  .contact {
    margin-top: 60px;
    line-height: 1;
  }
}

.refund-policy {
  h1, h2 {
    font-weight: bold;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }
}

.authorization-modal {
  .modal-body {
    text-align: left;
  }

  &__form-group {
    margin: 16px 0;
  }

  &__form-submit-btn {
    width: 100%;
  }
}