@import './styles/home-page.scss';
@import './styles/about-page.scss';
@import './styles/help-page.scss';
@import './styles/reports-page.scss';
@import './styles/news-page.scss';
@import './styles/report-item-page.scss';
@import './styles/admin.scss';
@import './styles/documents-page.scss';
@import './styles/partners-page.scss';
@import './styles/partner-item-page.scss';

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$red: #B30000;

@font-face {
  font-family: 'KharkivTone';
  src: url('./fonts/Kharkiv_Tone.ttf');
}

body {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;

  font: 100% $font-stack;
  color: $primary-color;
}

#root, body, .layout {
  height: 100vh;
}

.error-text {
  text-align: center;
  color: $red;
}

.contacts-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    padding: 20px;
    background: #3e1f92;
  }

  &__content-address-item {
    padding: 5px 0;
    color: #fff;

    svg {
      color: #fa949d;
      margin-right: 5px;
    }
  }
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 32px;
  text-align: center;
  position: relative;

  .button-up {
    background: #000;
    border-color: #fff;
    color: #fff;
    padding: 16px 32px;
    border-radius: 0;

    &:hover {
      background: #fff;
      color: #000;
    }
  }
}

.footer-description-wrapper {
  text-align: right;

  &-info {
    display: inline-block;
    font-size: 14px;
    text-align: left;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;

  @media screen and (max-width: 991px) {
    display: flex;
    flex-direction: column;

    .footer-contacts-content {
      order: 2;
      margin-top: 32px;
      text-align: left;
    }

    .footer-button-up {
      order: 1;
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}  

.footer-social-networks {
  padding: 26px 0;

  a { 
    margin: 0 18px;
    
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.footer-contacts-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.archangels-btn  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  border-color: $red;
  color: $red;

  &:hover, &:active, &:focus {
    color: #fff;
    background-color: $red;
  }
}

.payment-form-modal {
  .modal-dialog {
    max-width: 400px;
  }

  .model-footer {
    padding: 0;
  }

  .currency-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
  
    .form-group {
      text-align: left;
      margin-bottom: 1.5rem;

      &.custom-amount {
        padding-top: 20px;
        input {
          height: 48px;
        }
      }
    }

    .form-label {
      font-weight: bold;
      font-size: 15px;
    }

    .button-group {
      width: 100%;

      label {
        font-weight: bold;
      }
    }
  
    .form-label {
      display: block;
      margin-bottom: 0.5rem;
    }
  
    .form-check {
      display: inline-flex;
      align-items: center;
      padding-left: 0;
      margin-right: 1rem;
      font-weight: normal;
  
      input {
        margin-right: 0.3rem;
      }
    }
  }
}

.donate-btn {
  height: 58px;
  min-width: 240px;
  width: auto;
  color: #fff;

  @media screen and (max-width: 991px) {
    width: 100%;
  }
}
.payment-btn {
  height: 58px;
  width: 100%;
  color: #fff;
}

.title-block-text {
  font-family: "KharkivTone";
  text-transform: uppercase;
  margin-bottom: 64px;
  padding-left: 16px;
  font-size: 32px;
  line-height: 40px;
  border-left: 1px solid #B30000;

  @media screen and (max-width: 991px) {
    margin-bottom: 32px;
  }
}

.admin-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 15px;

  .input-wrapper {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;

    p {
      margin-left: 5px;
    }
  }

  input, textarea, button {
    margin: 0 5px;
  }
}

.terms_page {
  text-align: left;

  h1, h2, h3 {
    margin: 2rem 0;
    font-weight: bold;
  }
}

.policy-information {
  display: flex;
  flex-direction: column;
  text-align: left;

  a {
    margin: 8px 0;
    color: #fff;
    cursor: pointer;
    text-underline-offset: 4px;

    &:last-of-type {
      margin-bottom: 16px;
    }

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.alert-message {
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}


.empty-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;

  &__image {
    background: url('../assets/images/glass-icon.png');
    width: 220px;
    background-size: cover;
    height: 220px;
  }

  p {
    margin: 16px 0;
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    width: 70%;
  }
}

.loader-spinner {
  color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;

  .spinner {
    width: 50px;
    height: 50px;
  }
}

.privacy-and-policy, .refund-policy {
  text-align: left;
  line-height: 2;

  p {
    &:last-of-type {
      margin-bottom: 50px;
    }
    font-size: 18px;
  }
  h1 {
    font-size: 24px;
    margin: 32px 0;
    font-weight: bold;
  }

  .contact {
    margin-top: 60px;
    line-height: 1;
  }
}

.refund-policy {
  h1, h2 {
    font-weight: bold;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }
}

.authorization-modal {
  .modal-body {
    text-align: left;
  }

  &__form-group {
    margin: 16px 0;
  }

  &__form-submit-btn {
    width: 100%;
  }
}

.header-mobile-container {
  display: none !important;
  z-index: 1;

  @media screen and (max-width: 991px) {
    display: flex !important;
    width: 100%;
    position: sticky;
    height: 6rem;
    background: #fff;
    transition: top .2s;
  }

  .header-mobile__wrapper {
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .toggle-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    height: 100vh;
    text-align: left;
    padding: 2rem;
    position: absolute;
    top: 0;
    width: 100vh;
    transition: .3s;
    z-index: 1;
  
    div {
      display: flex;
      flex-direction: column;
    }
    
    a {
      font-size: 2rem;
      text-transform: uppercase;
      padding: 2rem 0;
      letter-spacing: 0.5rem;
      text-decoration: none;
      color: #B30000;
      transition: color 0.3s linear;
      text-underline-offset: 4px;
  
      &:hover {
        text-decoration: underline;
      }
      
      @media screen and (max-width: 991px) {
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}

.desktop-header-container {
  position: sticky;
  background: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 32px;
  height: 6rem;
  align-items: center;
  z-index: 10;
  transition: top .2s;
  border: 1px solid #e8e8e8;

  .header-navigation-item-wrapper {
    position: relative;

    &:hover {
      .header-navigation-menu {
        display: flex;
      }
    }
  }

  .header-navigation-menu {
    display: none;
    position: absolute;
    z-index: 1;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    flex-direction: column;
    top: -1px;
    left: -11px;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    a {
      font-size: 16px;
      padding-bottom: 16px;

      &:first-of-type {
        padding-bottom: 8px;
        margin-bottom: 10px;
        font-size: 18px;
      }
    }
  }

  @media screen and (max-width: 991px) {
    display: none;  
  }

  .logo svg {
    width: 72px;
    height: 72px;
    fill: #B30000;
  }

  .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    color: #B30000 !important;
    transition: border .3s;

    &.active {
      .red-underline {
        width: 100%;
        height: 2px;
        background-color: #B30000;
        position: absolute;
        bottom: -30px;
        left: 0;
      }
    }

    &:hover {
      opacity: .8;
    }
  }
}

.background-image-container {
  width: 100%;
  height: 375px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs-container {

  .breadcrumbs {
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0;
  
    .breadcrumb {
      margin: 0;
    }
  
    a {
      text-decoration: none;
      color: $red;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

