.news-page {
  padding-top: 32px;
  text-align: left;
}

.news-list {
	padding: 0;
	display: flex;
	flex-wrap: wrap;

	.row, .card-body {
		height: 100%;
	}

	.card-text {
		padding-top: 16px;
	}

	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.news-list-item {
		margin: 8px;
		width: calc(33% - 32px);
		border: 1px solid #111;
		padding: 8px 12px;
		box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.45);
		transition: .3s;

		&__info-container {
			max-height: 45%;
			height: auto;

			@media screen and (max-width: 991px) { 
				max-height: fit-content;
			}
		}

		&:hover {
			box-shadow: 0px 3px 19px 0px rgba(0,0,0,0.85);
		}

		@media screen and (max-width: 1199px) {
			width: calc(50% - 32px);
		}

		@media screen and (max-width: 768px) {
			width: 100%;

			.row {
				display: flex;
				flex-direction: column;

				.col-4, .col-8 {
					width: 100%;
				}
			}
		}

		.news-name {
			font-size: 20px;
			line-height: 28px;
			padding: 8px 0 16px 0;
		}

		.card-text {
			padding-top: 0;
			font-size: 15px;
			line-height: 22px;
			letter-spacing: .2px;
		}

		.card-info {
			padding: 16px 0;
		}

		.card-date {
			color: #444;
			margin: 8px 0;
			font-size: 13px;
			padding: 0;
		}

		.card-title {
			font-weight: bold;
		}

		.card-image {
			width: 100%;
			height: 100%;
			height: 375px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;

			@media screen and (max-width: 991px) { 
				height: 300px;
				background-size: contain;
			}

			@media screen and (max-width: 768px) {
				background-size: cover;
			}
		}
	}

	img {
		max-width: 200px;
		max-height: 100%;
	}
}